{% extends "base.html.twig" %}


{% block title %} Liste des personne {% endblock %}

{% block body %}
<div class="alert alert-success">
    {{personne.firtname}} {{ personne.name }} a {{ personne.age }} ans
</div>

{% endblock %}
